.divider {
    width: 100%;
    margin: 20px 0 20px 0;
    height: 1px;
    background-color: rgb( 240, 0, 140 );
}

.col-md-4, .col-md-8 {
    margin: 15px 0 15px 0;
}

.lead {
    margin-top: 25px;
}

.add_sub {
    border: 1px solid #666;
    padding: 30px;
    margin: 15px 0 15px 0;
}